---
import HeroLayout from "../layouts/HeroLayout.astro"
---

<HeroLayout title="michael-h.dk - multimedia designer and web developer">
	<h1>michael-h.dk</h1>
</HeroLayout>

<style>
	body {
		grid-template-rows: auto auto 1fr auto;
	}
</style>