---
import Github from '../assets/images/github.svg';
import LinkedIn from '../assets/images/linkedin.svg';
import Bluesky from '../assets/images/bluesky.svg';
import Mastedon from '../assets/images/mastedon.svg';

const arr = [Github, LinkedIn, Bluesky, Mastedon];
---

<footer class="divider-top">

  <div class="footerBar wrapper flex">

    <div class="copyright">
      <p>&copy;<span id="year"></span> 
      <a href="mailto:admin@michael-h.dk">Michael Houmann</a>.
      All rights reserved
    </p>
    </div>

    
    <ul class="social flex">
    
      <li>
        <a href="https://github.com/mhoumann87" 
          target="_blank" 
          rel="noopener noreferrer">

          <Github />
      
        </a>
        <span class="sr-only">Navigate to my github profile</span>
      </li>

      <li>
        <a href="https://www.linkedin.com/in/michael-houmann-3b03654b/" target="_blank" 
        rel="noopener noreferrer">

        <LinkedIn />
      
        </a>
        <span class="sr-only">Navigate to my linkedin profile</span>
      </li>

      <li>
        <a href="https://bsky.app/profile/michaelhoumann.bsky.social/"  target="_blank" 
            rel="noopener noreferrer">

        <Bluesky />
      
        </a>
        <span class="sr-only">Navigate to my bluesky profile</span>
      </li>

      <li>
        <a href="https://c.im/@michaelhoumann" 
        target="_blank" 
        rel="noopener noreferrer">

        <Mastedon />
      
        </a>
        <span class="sr-only">Navigate to my mastedon profile</span>
      </li>

    </ul>
  </div>

  </div>
</footer>

<script>

  (document.getElementById('year') as HTMLElement).innerText =
new Date().getFullYear() > 2024 ? 
    `2024 - ${new Date().getFullYear()}` : 
    '2024';

</script>

<style>
  footer {
  padding-block-start: 1em;
  margin-block-end: 1.5em;
}

.footerBar {
  --flex-dir: column;
}

@media screen and (width > 900px) {
  .footerBar {
    --flex-dir: row;
  }
}

.social {
  --flex-gap: 1.5rem;
  --flex-dir: row;
  margin: 0;
}

.social-icon {
  height: 32px;
  width: auto;
}

/* Colors for social icons */
#github {
  fill: #000000;
}

#linkedin {
  fill: #007ab6;
}

#mastodon {
  fill: #6364ff;
}

#bluesky {
  fill: #295ef6;
}

</style>